In [1]:
import pandas as pd

In [35]:
df = pd.read_csv('dataset/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [40]:
inputs = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns')
inputs

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [41]:
inputs_clean = inputs.dropna()

In [42]:
inputs_clean

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
885         0       3  female  39.0  29.1250
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[714 rows x 5 columns]

In [43]:
targets = inputs_clean['Survived']
targets

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [44]:
inputs_n = inputs_clean.drop(['Survived'], axis='columns')

In [45]:
inputs_n

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
885       3  female  39.0  29.1250
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[714 rows x 4 columns]

In [46]:
targets

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le_sex = LabelEncoder()

In [49]:
inputs_n['sex_n'] = le_sex.fit_transform(inputs_n['Sex'])

inputs_n

     Pclass     Sex   Age     Fare  sex_n
0         3    male  22.0   7.2500      1
1         1  female  38.0  71.2833      0
2         3  female  26.0   7.9250      0
3         1  female  35.0  53.1000      0
4         3    male  35.0   8.0500      1
..      ...     ...   ...      ...    ...
885       3  female  39.0  29.1250      0
886       2    male  27.0  13.0000      1
887       1  female  19.0  30.0000      0
889       1    male  26.0  30.0000      1
890       3    male  32.0   7.7500      1

[714 rows x 5 columns]

In [50]:
inputs_fix = inputs_clean.drop(['Sex'],axis='columns')
inputs_fix.shape

(714, 4)

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(inputs_fix,targets, test_size=0.2,random_state=2022)

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
model = DecisionTreeClassifier()

In [58]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [59]:
y_pred = model.predict(X_test)

In [60]:
from sklearn.metrics import classification_report

In [63]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        82
           1       1.00      1.00      1.00        61

    accuracy                           1.00       143
   macro avg       1.00      1.00      1.00       143
weighted avg       1.00      1.00      1.00       143

In [64]:
model.score(X_test,y_test)

1.0

In [65]:
import joblib

In [66]:
joblib.dump(model,'model')

['model']